<div class="component-usage-section-content">
  <msPivot>
    <msPivotHeader>
      <msPivotLabel>My Files</msPivotLabel>
      <msPivotLabel>Recent</msPivotLabel>
      <msPivotLabel>Folders</msPivotLabel>
      <msPivotLabel>Shared with me</msPivotLabel>
      <msPivotLabel>History</msPivotLabel>
      <msPivotLabel>Music</msPivotLabel>
      <msPivotLabel>Images</msPivotLabel>
    </msPivotHeader>

    <msPivotBody>
      <div *msPivotContentDef>Pivot #1</div>
      <div *msPivotContentDef>Pivot #2</div>
      <div *msPivotContentDef>Pivot #3</div>
      <div *msPivotContentDef>Pivot #4</div>
      <div *msPivotContentDef>Pivot #5</div>
      <div *msPivotContentDef>Pivot #6</div>
      <div *msPivotContentDef>Pivot #7</div>
    </msPivotBody>
  </msPivot>
</div>


<div class="component-usage-section">
  <h5 class="component-usage-section-title">With icon</h5>

  <div class="component-usage-section-content">
    <msPivot>
      <msPivotHeader>
        <msPivotLabel icon="Add">My Files</msPivotLabel>
        <msPivotLabel icon="Clock">Recent</msPivotLabel>
        <msPivotLabel icon="Folder" >Folder</msPivotLabel>
        <msPivotLabel icon="Settings">Settings</msPivotLabel>
      </msPivotHeader>

      <msPivotBody>
        <div *msPivotContentDef>Pivot #1</div>
        <div *msPivotContentDef>Pivot #2</div>
        <div *msPivotContentDef>Pivot #3</div>
        <div *msPivotContentDef>Pivot #4</div>
      </msPivotBody>


    </msPivot>
  </div>
</div>


<div class="component-usage-section">
  <h5 class="component-usage-section-title">Override selected item</h5>

  <div class="component-usage-section-content">
    <msPivot #pivot>
      <msPivotHeader>
        <msPivotLabel>My Files</msPivotLabel>
        <msPivotLabel>Recent</msPivotLabel>
        <msPivotLabel>Shared with me</msPivotLabel>
      </msPivotHeader>

      <msPivotBody>
        <div *msPivotContentDef>>Pivot #1</div>
        <div *msPivotContentDef>>Pivot #2</div>
        <div *msPivotContentDef>>Pivot #3</div>
      </msPivotBody>

    </msPivot>

    <div class="mt-3">
      <button  (click)="pivot.selectPrev()">Select prev item</button>
      <button  (click)="pivot.selectNext()">Select next item</button>
    </div>
  </div>
</div>
